<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<div>
    <h1>{{ question.question_text }}</h1>
</div>

{% if error_mes %}
<div>
    <p><strong>{{ error_mes }}</strong></p>
</div>
{% endif %}

<div>
    <form action="{% url 'polls:vote' question.id %}" method="post">
        <div>{% csrf_token %}</div>

        <div>
            {% for choice in question.choice_set.all %}

            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>

            {% endfor %}
        </div>

        <div>
            <input type="submit" value="Vote">
        </div>
    </form>
</div>

<div>
    <a href="{% url 'polls:index' %}">all questions</a>
</div>

</body>
</html>